<!-- views/partials/IndexCont.ejs -->
<% if (user && user !== 'Guest') { %>
    <% if (records.length > 0) { %>
        <% records.forEach(record => { %>
            <div class="Vinyl">
                <div class="Vinyl-inner">
                    <div class="Vinyl-front">
                        <h3><%= record.title %></h3>
                        <p><%= record.artist %></p>
                    </div>
                    <div class="Vinyl-back">
                        <h3><%= record.title %></h3>
                        <p><%= record.description %></p>
                    </div>
                </div>
            </div>
            
        <% }); %>
    <% } else { %>
        <p>No results found.</p>
    <% } %>
<% } else { %>
    <p>Please log in to view the vinyl records.</p>
<% } %>
