<section id="Banner">
    <img src="/images/surya-urs-8YZe_V0Bn_o-unsplash.jpg" alt="">
    <h2>Looking for a Vinyl?</h2>
    <form action="">
        <input type="text" placeholder="Search For Vinyls" id="Search">            
    </form>
</section>
