<html lang="en">
    <%- include('./partials/headInfo.ejs') %>
    <body>
        <%- include('./partials/header.ejs') %>
        <main>
            <div>
                <section id="Banner">
                    <img src="/images/surya-urs-8YZe_V0Bn_o-unsplash.jpg" alt="">
                    <h2>Server Error <br>
                    ERROR - 503</h2>
                    
                </section>
                                
            </div>
        </main>
        <%- include('./partials/footer.ejs') %>
    </body>
</html>
