<html lang="en">
    <%- include('./partials/header.ejs') %>
    <body>
        <div class="content">
            <h2>503 - internal server error, try again.</h2>
        </div>
        </br>
    </body>
</html>